# Root .gitignore
/node_modules
/vendor
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/dist
/tmp
.agent/
.gemini/
.DS_Store
Thumbs.db
